footer {
	background-color: #F0F0F1;
	padding: 30px;
	img {
		display: inline;
	}
	.creditos {
		text-align: center;
		display: inline;
		margin-top: 30px;
		p {
			color: $gray;
			text-transform: uppercase;
			a {
				text-decoration: none;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.redesfooter {
		text-align: right;
		@include redes(14px);
		float: right;
		display: inline;
		margin-top: 30px;
	}
}