.navbar {
	z-index: 100;
	width: 100%;
	background-color: transparent;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 3%;
	padding-right: 3%;
	&.navbar-default {
		border-color: transparent !important;
		.navbar-nav {
				padding-top: 20px;
				li {
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 700;
					a {
						color: #fff;
						&:hover {
							background-color: none;

							}
						&:focus {
							background-color: none;

							}
					}
					&.active {
						a {
							border-radius: 5px;
							background-color: rgba(0, 0, 0, 0.4);
							color: #fff;
							&:hover {
								color: #fff;			
							}
							&:focus {
								color: #fff;			
							}
						}

					}
				}
			}

		&.navbar-shrink {
			background-color: #04206E;
			padding-top: 0;
			padding-bottom: 30px;
		}
	}
	.navbar-brand {
		img {
			height: auto;
			width: 100%;
		}
	}

	.navbar-toggle {
		margin-top: 10px;
    	margin-right: 20px;
    	background-color: #032673;
    	border-color: transparent;
    	&:hover {
    		background-color: #032673;
    	}
    	&:focus {
    		background-color: #032673;
    	}
		.icon-bar {	
			width: 25px;
    		height: 3px;
    		background-color: gray;
		}
	}
	@media (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 10px;
		&.navbar-default {
			.navbar-collapse {
				border-color: transparent !important;
			}
			.navbar-nav {
				li {
					&.active {
						a {
							border-radius: 0;
						}
					}
				}
			}
		}
		.navbar-brand {
			img {
				width: 40px;
				height: auto;
			}
		}

	}
	@media (max-width: 480px) {
		padding-top: 0;
		padding-bottom: 10px;
		.navbar-brand {
			img {
				width: 30px;
				height: auto;
			}
		}
	}
}

header {
	padding-top: 18%;
	padding-bottom: 18%;
	background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(../images/home4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	p {
		font-size: 26px;
		color: #D7D1C4;
		text-align: center;
		width: 60%;
		margin: 3% auto;
	}
	@media (max-width: 767px) {
		padding-top: 30%;
		padding-bottom: 30%;		
		p {
			width: 80%;
		}

	}
}